
[Unit]
Description=USBTMC <-> Ethernet bridge service

[Service]
Type=simple

ExecStartPre=-/usr/bin/rmmod usbtmc
ExecStartPre=/usr/bin/insmod /opt/usbtmc/rpi/kernel-module/usbtmc.ko

## Using one of the netcat / socat redirect scripts:
#Environment="DIR=/opt/usbtmc/rpi"
## and
#ExecStart=/opt/usbtmc/rpi/servers/nc.sh
## or
#ExecStart=/opt/usbtmc/rpi/servers/socat.sh

## Using the rigol-server written in C:
ExecStart=/opt/usbtmc/rpi/servers/rigol-server

[Install]
WantedBy=multi-user.target

